#ignore all files/dirs that aren't . files
*
!.*

#ignore all directories
**/

#ignore any "history" files
*-history
*_history
.*hist*

#wget hosts file (i don't think I care)
.wget-hsts

#viminfo is kinda included in history
.viminfo

#ignore steam
.steam*

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

#random files
.Xauthority
.zcompdump
.yarnrc
